html,
body {
  height: 100%;
  -webkit-user-select: none;
}

body::-webkit-scrollbar {
  display: none;
}

#a {
  padding-bottom: 0px;
}

#clear {
  margin-bottom: 5px;
}

.bg-very-dark {
  background-color: #212529;
}

.btn-very-dark {
  background-color: #212529;
}
.btn-very-dark:hover {
  background-color: #343a40;
}
.btn-very-dark::selection {
  background-color: #343a40;
}
.btn-very-dark:focus {
  background-color: #343a40;
}

.td-fit,
.th-fit {
    white-space: nowrap;
    width: 75%;
}

/* js splitter */
.split {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow-y: auto;
  overflow-x: hidden;
}
.gutter {
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 50%;
}
.gutter.gutter-vertical {
  cursor: row-resize;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=");
}

/* scrollbar styling */
/* Turn on custom 8px wide scrollbar */
::-webkit-scrollbar {
  width: 10px; /* 1px wider than Lion. */
  /* This is more usable for users trying to click it. */
  background-color: rgba(0, 0, 0, 0);
  -webkit-border-radius: 100px;
}
/* hover effect for both scrollbar area, and scrollbar 'thumb' */
::-webkit-scrollbar:hover {
  background-color: rgba(0, 0, 0, 0.09);
}

/* The scrollbar 'thumb' ...that marque oval shape in a scrollbar */
::-webkit-scrollbar-thumb:vertical {
  background: rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 100px;
  background-clip: padding-box;
  border: 2px solid rgba(0, 0, 0, 0);
  min-height: 10px; /*Prevent it from getting too small */
}
::-webkit-scrollbar-thumb:vertical:active {
  background: rgba(0, 0, 0, 0.61); /* Some darker color when you click it */
  -webkit-border-radius: 100px;
}
/* scrollbar styling END */
